* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#counting {
  font-size: 50px;
}

button {
  font-size: 30px;
  padding: 20px;
  cursor: pointer;
}
